body {
  background-color: rgb(28, 4, 48);
  color: rgb(194, 194, 216);
  font-family: sans-serif;
}

main {
  text-align: center;
}

#header {
  display: inline-block;
  margin: 10px 0;
}

button {
  border: none;
}

#color {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
}

p {
  font-size: small;
  font-style: italic;
}

#c1 {
  background-color: rgb(110, 110, 143);
  margin: 10px;
  width: 400px;
  height: 200px;
}